body {
    margin: 0;
}

p {
    font-size: 12pt;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 100px;
    margin: 0;
    display: inline-block;
    
}

h2 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 20px;
    margin: 0 0 0 5px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: 	hsl(210, 30%, 30%);
    font-size: 22pt;
    text-align: center;
    margin: 20px 0;
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: 	hsl(210, 30%, 30%);
    font-size: 20pt;
}

h5 {
    font-family: 'Poppins', sans-serif;
    color: 	hsl(210, 30%, 30%);
    font-size: 18pt;
}

header {
    background-color: rgba(245, 223, 77);
    height: 150px;
    padding: 40px 0 0 40px;
}

#swan {
    position: absolute;
    margin-left: 950px;
    width: 120px; 
    height: 120px;
}

nav {
    background-color: hsl(210, 30%, 30%);
    text-align:end;
    font-family: 'Poiret One', cursive;
    font-size: 14pt;
    padding: 10px 0 10px 0;
}

a.navlink:hover {
    color: white;
}

.navlink {
    color: 	hsl(52, 89%, 70%);
    text-decoration: none;
    margin: 0 10px 0 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color:hsl(52, 89%, 70%);
}

main {
    padding: 0 50px 50px 50px;
}

section {
    padding: 40px;
    width: 600px;
    margin: auto;
}

.light {
    background-color: hsl(210, 30%, 95%);
}

.dark {
    background-color: hsl(210, 30%, 90%);
}

ul {
    font-family: 'Source Sans Pro', sans-serif;
}

figcaption {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 10px;
    text-align: center;
    font-size: 10pt;  
}

