body {
    margin: 0;
}

p {
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 100px;
    margin: 0;
    
}

h2 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 20px;
    margin: 0 0 0 5px;
}

h3 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 50px;
}

h4 {
    font-family: 'Poiret One', cursive;
    color: 	hsl(210, 30%, 30%);
    font-size: 30px;
}

header {
    background-color: rgba(245, 223, 77);
    height: 150px;
    padding: 40px 0 0 40px;
}

.icon {
    position: absolute;
    margin-left: 950px;
}

nav {
    background-color: hsl(210, 30%, 30%);
    text-align:end;
    font-family: 'Poiret One', cursive;
    font-size: 14pt;
    padding: 10px 0 10px 0;
}

.navlink {
    color: 	hsl(52, 89%, 70%);
    text-decoration: none;
    margin: 0 10px 0 10px;
}

a:hover {
    color: 	hsl(52, 89%, 100%);
}

main {
    padding: 50px;
}

section {
    height: 200px;
    padding: 20px;
}

.light {
    background-color:hsl(210, 30%, 95%)
}

.dark {
    background-color: hsl(210, 30%, 90%);
}

#profile {
    position: relative;
    float: right;
    border-radius: 50%;
    height: 130px;
    width: 120px;
    margin-right: 100px;
    border: hsla(0, 0%, 22%, 1) 5px solid;
}